@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

div.main {
	margin-top: 125px;
	width: 100%;
}

div.hotel-body,
div.head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

h1.heading {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #333333;
	margin: 0 0 32px 60px;
}

p.stay {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #4f4f4f;
	margin: 0 60px 32px 0;
}

div.hotel-body {
	margin: 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

div.notfound {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	flex-wrap: wrap;
	margin-top: 100px;
}

div.notfound > h1 {
	font-family: "Poppins", sans-serif;
	margin-top: 20px;
	text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
	div.main {
		margin-top: 50px;
	}

	h1.heading {
		margin: 0 0 32px 15px;
	}

	p.stay {
		margin: 0 15px 32px 0;
	}
}
